body {
  margin: 0;
  background: #b2dfdb;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

/* Quick general rules  */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-c-center {
  justify-content: center;
}

.align-i-center {
  align-items: center;
}

.justify-c-end {
  justify-content: flex-end;
}

.bg-yellow-orange {
  background-color: #ff8e22;
}

.border {
  border-style: solid;
  border-color: #3a3a3a;
  border-width: thin;
}

/* Calculator */

.calculator {
  width: 700px;
  max-width: 700px;
}



.display {
  border-bottom-style: hidden;
  background-color: #607d8b;
  color: #fafafa;
  width: 698px;
  font-weight: bold;
  height: 100px;
}

.display-text {
  padding-right: 40px;
}

.group {
  height: 100px;
}

.button {
  color: #212121;
  width: 25%;

  height: 100%;
}
